<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byName">

    <bean id="personService" class="com.casi.service.PersonServiceImpl"/>

    <bean name="/getPersonService" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="personService"/>
        <property name="serviceInterface" value="com.casi.service.PersonService"/>
    </bean>


    <bean id="ps" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://127.0.0.1:8080/casi/remoting/getPersonService"/>
        <property name="serviceInterface" value="com.casi.service.PersonService"/>
    </bean>

    <bean id="personServiceConsumer" class="com.casi.service.consumer.PersonServiceConsumerImpl"></bean>

</beans>